* {
    margin: 0px;
    padding: 0;
    font-family: 'Economica', sans-serif;
    font-size: 30px;
    background-color: #e8ebfa;
}


html, body {
    padding: 0;
    margin: 10px 10px;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 80%;
}

h4 {
    font-size: 65%;
}

.author {
    font-size: 65%;
}

username_list {
    text-align: center;
}

.row {
    /* margin: 0 auto; */
}

.main-nav {
    list-style: none;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 5px;
    color: #5680e9;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #5680e9;
}  

a:link,
a:visited {
    color: #5680e9;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #5680e9;
    transition: border-bottom 0.2s, color 0.2s;
}
    
a:hover,
a:active {
    color: #8860d0;
    border-bottom: 1px solid transparent;    
}

.username_list a:hover,
.username_list a:active {
    border: none;
}


/* font-family: 'Dancing Script', cursive;

font-family: 'Mountains of Christmas', cursive;

font-family: 'Shadows Into Light', cursive;

font-family: 'Economica', sans-serif; */


