<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Economica|Mountains+of+Christmas|Shadows+Into+Light&display=swap" rel="stylesheet"> 
  </head>
<body>
    <header>
    <nav>
        {% if 'user' in session %}
        <ul class="main-nav">
          <li><a href="/blog">Main Blog Page</a></li>
          <li><a href="/add">Add a Blog Entry</a></li>
          <li><a href="/">Home</a></li>
          <li>{{ session['user'] }}</li>
          <li><form class="main-nav" action="/logout" method="post"></li>
          <li><input class="main-nav" type="submit" value="Log Out"/>
            </form></li>
          </ul>
      
        {% else %}
        <a href="/">Home</a> | <a href="login">Login</a> | <a href="signup">Signup</a>
        {% endif %}
    </nav>
    </header>
  </body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
            
    {% block content %}
    {% endblock %}
</html>