{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center">Blog Post List</h1>
    {% if posts|length == 0 %}
    <p> No Posts </p>
    {% else %}
        {% for post in posts %}
            <a href="{{ url_for('post', post_id=post.id) }}">
            <h3 class="main-title">{{ post.blog_title }}</h3></a>  
            <h4 class="main-body">{{ post.body }}</h4>
            <h5 class="author"> Posted By: <a href="/?id={{post.owner.id}}">{{post.owner.username}}</a></h5>
        <hr size='5'>
                
        {% endfor %}
    {% endif %}    


{% endblock %}    
