{% extends 'base.html' %}

{% block content %}
<h1>Log In</h1>
<p>If you don't have an account, you may <a href="/signup">signup </a> for one.</p>

    <body style="line-height:2">
            <form action="/login" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label>Email</label>
                                <input id="email" type="text" name="email" value='{{email}}'  />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Password</label>
                                <input type="password" name="password" id="password" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Login"/>
            </form>
    </body>
{% endblock %}